<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Your Message</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- ../css/styles -->
    <style>
        * {
            box-sizing: border-box;
        }

        .form-container {
            width: 50%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        }

        .error-popup {
            color: red;
            display: none;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>

    <div class="form-container">
        <h1>Submit Your Message</h1>
        <div id="error-popup" class="error-popup"></div>
        <!-- <form id="messageForm" method="POST" action="/submit"> -->
        <form id="messageForm" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="occasion">Occasion:</label>
            <input type="text" id="occasion" name="occasion" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>

            <label for="custom_alias">Custom Short URL (optional):</label>
            <input type="text" id="custom_alias" name="custom_alias" placeholder="Enter a custom alias">

            <button type="submit">Submit</button>
        </form>
    </div>
    <!-- Modal for confirmation -->
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <h2>Confirm Your Details</h2>
            <p><strong>Name:</strong> <span id="confirmName"></span></p>
            <p><strong>Occasion:</strong> <span id="confirmOccasion"></span></p>
            <p><strong>Message:</strong> <span id="confirmMessage"></span></p>
            <p><strong>Custom Alias:</strong> <span id="confirmAlias"></span></p>

            <div class="modal-buttons">
                <button id="confirmYes">Yes</button>
                <button id="confirmNo">No</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>