<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Your Message</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- ../css/styles -->
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
</head>

<body>

    <div class="form-container">
        <h1>Submit Your Message</h1>
        <form id="messageForm" method="POST" action="/submit">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="occasion">Occasion:</label>
            <input type="text" id="occasion" name="occasion" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>

            <label for="custom_alias">Custom Short URL (optional):</label>
            <input type="text" id="custom_alias" name="custom_alias" placeholder="Enter a custom alias">

            <button type="submit">Submit</button>
        </form>
    </div>

</body>

</html>